
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2{
  display: flex;
  justify-content: center;
  margin-top: 4%;
}

main {
  background-color: white;
  padding: 10px;
  margin-bottom: 7%;
  margin-top: 5%;
  margin-left: 24%;
  border-radius: 10px;
  width: 50%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 15px 14px 19px 4px rgba(0,0,0,0.63);
  -webkit-box-shadow: 15px 14px 19px 4px rgba(0,0,0,0.63);
  -moz-box-shadow: 15px 14px 19px 4px rgba(0,0,0,0.63);
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.spnQtd {
  text-align: end;
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

button {
  width: 100%;
  text-align: center;
  padding: 5px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  background-color: black;
  color: white;
}

.finish {
  display: none;
  flex-direction: column;
  gap: 10px;
}

.finish button {
  text-align: center;
}