@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

li {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.header{
  display: flex;
  box-sizing: border-box;
  padding: 2%;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  background-color: black;
}
.titlemenu{
  color: white;
}
/* COMEÇO DA NAVBAR */
.navMenu a {
  color:white;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  /* Isso mantem o menu deitado para a animação funcionar. */
  display: inline-block;
  /* Aqui separa as letras para a animação da bolinha abaixo do menu funcionar. */
  width: 80px;
  /* Tempo da animação de mudança de cor funcionar. */
  transition: all 0.2s ease-in-out;
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background: white;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

/* Animação da bolinhas com os filhos (itens do menu) */
.navMenu a:nth-child(1):hover~.dot {
  -webkit-transform: translateX(30px);
  opacity: 1;
}

.navMenu a:nth-child(2):hover~.dot {
  -webkit-transform: translateX(110px);
  opacity: 1;
}

.navMenu a:nth-child(3):hover~.dot {
  -webkit-transform: translateX(200px);
  opacity: 1;
}

.navMenu a:nth-child(4):hover~.dot {
  -webkit-transform: translateX(285px);
  opacity: 1;
}



.footer {
  background: #000;
  padding: 30px 0px;
  font-family: 'Play', sans-serif;
  text-align: center;
}

.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em;
}

.footer .row a {
  text-decoration: none;
  color: gray;
  transition: 0.5s;
}

.footer .row a:hover {
  color: #fff;
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}

.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}